* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font: 20px;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section1 {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 5px;
}

.section2 {
    margin-left: 5px;
}

.input {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

h2 {
    font-size: 85%;
    background-color: #1c1c1c;
    padding: 14px;
    color: white;
    border: 1px solid #1c1c1c;
}

input {
    width: 200px;
    height: 50px;
    font-size: 100%;
    padding: 10px;
    outline: none;
    transition: 0.5s;
    border: 2px solid #1c1c1c;
    font-weight: 200;
}

input:hover,
input:focus {
    width: 250px;
    font-weight: 400;
}

.addBtn {
    height: 50px;
    width: 150px;
    font-size: 100%;
    background-color: transparent;
    border: 1px solid black;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.addBtn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

.addBtn:hover::after {
    transform: scaleX(1);
}

.addBtn:hover {
    color: white;
    font-weight: bold;
}

#playerList {
    width: 45.8%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-size: 100%;
    border: 1px solid black;
    overflow-x: auto;
}

.playerItem {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-left: 25px;
    justify-content: space-between;
}

h3 {
    font-weight: 200;
    font-size: 90%;
    margin: 10px;
    opacity: 50%;
}

.removeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 70px;
    font-size: 75%;
    width: 80px;
    transition: 0.3s;
}

.removeBtn:hover {
    background-color: rgb(255, 100, 100);
    color: white;
}

.startBtn {
    height: 50px;
    width: 500px;
    font-size: 100%;
    background-color: transparent;
    border: 1px solid black;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.startBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.startBtn:disabled::after {
    display: none; 
}

.startBtn:disabled:hover {
    color: inherit;
    font-weight: normal;
}

.startBtn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

.startBtn:not(:disabled):hover::after {
    transform: scaleX(1);
}

.startBtn:not(:disabled):hover {
    color: white;
    font-weight: bold;
}

.input2 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.log {
    white-space: pre-wrap;
    overflow-y: auto;
    border: 1px solid #1c1c1c;
    width: 500px;
    /* padding-left: 30px;
    padding-bottom: 30px; */
    font-size: 100%;
}